:root {
    --bg-color: #1a4d6162;
    --box-primary-color: #374151;
    --box-secondary-color: #546480;
}

/* Global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'PT Sans Narrow', sans-serif;
}

#root {
    max-width: 75%;
    margin: 0 auto;
}

/* Headings */
.heading {
    text-align: center;
    margin: 2.1875rem 0;
}

.title {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: center;
}

.website-heading {
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 400;
    color: rgb(201, 139, 46);
    font-size: 30pt;
    text-transform: uppercase;
    width: max-content;
    display: inline;
    text-shadow: .3125rem .625rem rgba(94, 103, 107, 0.253);
    position: relative;
    bottom: .625rem;
    margin-left: .625rem;
}

.logo {
    display: inline;
    width: 4.25rem;
    height: 4.25rem;
}

/* Form section */
.input-form {
    background-color: var(--box-primary-color);
    padding: 15px 15px;
    display: flex;
    gap: 0.5rem;
    border-radius: 50px;
}

.input-form input, .input-form select {
    width: 15.625rem;
    background-color: var(--box-secondary-color);
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
}

.input-form input:first-child {
    flex-grow: 1;
}

.input-form input::placeholder {
    color: #fafafa;
}

.input-form span {
    font-weight: 600;
    font-size: 16pt;
    color: white;
    position: relative;
    top: .3125rem;
}

.hidden {
    display: none !important;
}

/* button styles */
.btn {
    border: none;
    padding: .3125rem;
    font-family: 'Anton', sans-serif;
    font-size: 21.328px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border-radius: 6.25rem;
    cursor: pointer;
}

.create-task {
    background-image: linear-gradient(135deg, rgb(160, 110, 17), rgb(192, 161, 24));
    padding: .3125rem .625rem;
    height: max-content;
    position: relative;
    top: 1.25rem;
}

.btn-post {
    width: max-content;
    padding: .1563rem .9375rem;
    font-size: 12pt;
    margin-left: 1.5625rem;
}

.btn-post:hover {
    background-color: #2d456e;
    color: white;
}

.btn-all, .btn-tech, .btn-social {
    margin: 5px 0;
    width: 80%;
}

.btn-all:hover, .btn-tech:hover, .btn-social:hover {
    transform: scale(110%);
    transition: 0.3s;
}

.btn-all {
    background-image: linear-gradient(45deg, rgba(36, 127, 163, 0.76), rgb(56, 184, 124));
}

/* .btn-tech {
    background-color: rgba(66, 162, 201, 0.877);
}

.btn-social {
    background-color: rgb(56, 184, 124);
} */

/* main body */

.main-body {
    display: grid;
    margin: .9375rem 0 0;
    grid-template-columns: 15.625rem 1fr;
}

/* Hashtag filter */
 
.hashtag-selector {
    list-style: none;
}

.hashtag-column {
    text-align: center;
}

/* Main Content */

.task-list {
    list-style: none;
}

.task-item {
    font-size: 1rem;
    line-height: 1.4;
    color: #fafafa;
    background-color: var(--box-primary-color);
    margin: 0 .9375rem 1.5625rem;
    padding: .625rem 1.5625rem;
    box-shadow: .3125rem .4688rem rgba(89, 102, 107, 0.582);
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.hashtag {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    margin-left: 1.5625rem;
    padding: .1563rem .625rem;
    margin: 0 15px;
    border-radius: 50px;
}

.source:link, .source:visited {
    color: aquamarine;
    text-decoration: none;
    margin-left: 10px;
}

.source:hover, .source:active {
    color: rgb(113, 187, 221);
    transition: 0.15s ease-in;
}

.emoji-buttons {
    margin-left: auto;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
}   

.emoji-buttons button {
    background-color: var(--box-secondary-color);
    padding: 2.5008px; 
    border-radius: 10px;
    border: .0625rem solid rgb(44, 44, 44);
    font-size: 18px;
    color: #fafafafa;
    cursor: pointer;
    transition: 0.3s;
}

.emoji-buttons button:hover, .emoji-buttons button:active {
    background-color: rgb(15, 148, 104);
}

/* Media Queries */
@media (max-width:1601px) {
    
    .task-item {
        flex-direction: column;
        gap: 12px;
        align-items: flex-end;
    }

}

@media (max-width:1041px) {

    .input-form {
        flex-direction: column;
        align-items: stretch;
    }

    .input-form input, .input-form select {
        width: auto;
    }

    .btn-post {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .input-form span {
        font-size: 12pt;
        top: 0;
        left: .3125rem;
    }

    .main-body {
        grid-template-columns: 1fr;
    }

    .btn-all, .btn-tech, .btn-social {
        width: 95%;
    }

}
