/* Global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2937;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Headings */
.heading {
    text-align: center;
    margin: 35px 0;
}

.website-heading {
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 400;
    color: rgb(201, 139, 46);
    font-size: 45pt;
    text-transform: uppercase;
    width: max-content;
    display: inline;
    text-shadow: 5px 10px rgba(187,213,224,0.1);
}

.logo {
    display: inline;
    width: 68px;
    height: 68px;
}

.create-task {
    position: absolute;
    right: 15px;
    top: 30px;
}

/* Form section */
.input-form {
    background-color: #374151;
}

/* Hashtag filter */

.hashtag-selector {
    list-style: none;
}

/* Main Content */

.task-list {
    list-style: none;
}

.task-item {
    font-size: 16pt;
    line-height: 1.4;
    color: #fafafa;
    background-color: #374151;
    margin: 0 15px 25px;
    padding: 10px 25px;
    box-shadow: 5px 7.5px rgba(187, 213, 224, 0.582);
}

.hashtag {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12pt;
}
