/* Global selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2937;
    font-family: 'PT Sans Narrow', sans-serif;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

/* Headings */
.heading {
    text-align: center;
    margin: 2.1875rem 0;
}

.title {
    align-items: center;
}

.website-heading {
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 400;
    color: rgb(201, 139, 46);
    font-size: 2.8125rem;
    text-transform: uppercase;
    width: max-content;
    display: inline;
    text-shadow: 0.3125rem 0.625rem rgba(187, 213, 224, 0.1);
    position: relative;
    bottom: 0.625rem;
    margin-left: 0.625rem;
}

.logo {
    display: inline;
    width: 4.25rem;
    height: 4.25rem;
}

/* Form section */
.input-form {
    background-color: #374151;
    margin: 0.9375rem;
    padding: 0.9375rem 0;
    text-align: center;
}

/* button styles */
.btn {
    border: none;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 16pt;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.create-task {
    position: absolute;
    right: 1.5rem;
    top: 1.875rem;
    background-image: linear-gradient(135deg, rgb(160, 110, 17), rgb(192, 161, 24));
    padding: 5px 15px;
}

.btn-post {
    width: max-content;
    padding: 2.5px 10px;
    font-size: 12pt;
    margin-left: 25px;
}

.btn-all, .btn-tech, .btn-social {
    margin: 5px 0;
    width: 80%;
}

.btn-all {
    background-image: linear-gradient(45deg, rgba(36, 127, 163, 0.76), rgb(56, 184, 124));
}

.btn-tech {
    background-color: rgba(66, 162, 201, 0.877);
}

.btn-social {
    background-color: rgb(56, 184, 124);
}

/* main body */

.main-body {
    display: grid;
    grid-template-columns: 15.625rem 1fr;
    margin-left: 1.5625rem;
    gap: 3rem;
}

/* Hashtag filter */
 
.hashtag-selector {
    list-style: none;
}

.hashtag-column {
    text-align: center;
}

/* Main Content */

.task-list {
    list-style: none;
}

.task-item {
    font-size: 1rem;
    line-height: 1.4;
    color: #fafafa;
    background-color: #374151;
    margin: 0 0.9375rem 1.5625rem;
    padding: 0.625rem 1.5625rem;
    box-shadow: 0.3125rem 0.46875rem rgba(187, 213, 224, 0.582);
    display: flex;
    align-items: center;
}

.hashtag {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    margin-left: 1.5625rem;
}

.emoji-buttons {
    margin-left: auto;
}

.source:link, .source:visited {
    color: aquamarine;
    text-decoration: none;
    margin-left: 1.5625rem;
}

.source:hover, .source:active {
    color: rgb(113, 187, 221);
    transition: 0.15s ease-in;
}